/* header */
.header {
    background: white;
    position:relative
}
.header h1 img { 
    width: 165px;
}
.header .wrap {
    /* background: skyblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header .menuwrap ul {
    display: flex;
    gap: 100px
}
/* visual */
.visual {
height: 100vh;
min-height: 700PX;

background-image: url(../img/imgi_21_zuhg1614749942851.jpg);
background-repeat: no-repeat;
background-position: center;
background-color: cover;
display: flex;
align-items: center;
color: white;
}
.cont01{
    height: 300px;
}

    
/* card */
.card .wrap{
    display:flex;
    justify-content:space-around
}
.card img{
     width: 100%;
    
}
.card {
   width: 384px;
   padding: 16px
    
}
.card .card-body{
    padding: 20px 16px 0px
}

